<?xml version='1.0' encoding='utf-8'?>
<widget id="com.unisoft.scca" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ssca</name>
    <description>
       sistema de rutas
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Unisoft system 
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="android-build-tool" value="gradle" />
    <engine name="android" spec="^6.2.3" />
    <plugin name="cordova-plugin-battery-status" spec="^1.2.4" />
    <plugin name="cordova-plugin-device" spec="^1.1.6" />
    <plugin name="cordova-plugin-geolocation" spec="^2.4.3" />
    <plugin name="cordova-plugin-globalization" spec="^1.0.7" />
    <plugin name="cordova-plugin-inappbrowser" spec="^1.7.1" />
    <plugin name="cordova-plugin-network-information" spec="1.3.1" />
    <plugin name="cordova-plugin-request-location-accuracy" spec="^2.2.2" />
    <plugin name="cordova-plugin-splashscreen" spec="~4.0.1" />
    <plugin name="cordova-plugin-whitelist" spec="1.3.0" />
    <plugin name="cordova-sqlite-storage" spec="^2.0.4" />
    <plugin name="cordova.plugins.diagnostic.api-22" spec="^2.3.10-api-22" />
    <plugin name="phonegap-plugin-barcodescanner" spec="6.0.4" />
    <plugin name="phonegap-plugin-push" spec="2.0.0" />
</widget>
